@font-face {
  font-family: "batman forever pleine";
  src: url("../fonts/batmfa.woff");
}

.font-batman {
  font-family: "batman forever pleine";
}

body {
  background-color: #000;
  background-image: url(../img/background.jpeg);
  background-size: contain;
  background-repeat: repeat;
  overflow-x: hidden;
}

#header-zoom {
  justify-content: center;
  display: flex;
}


.games {
  min-width: 1120px;
  width: 1120px;
  min-height: 600px;
  height: 600px;
  margin: 4rem 7rem 2rem 7rem;
  z-index: 9999;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  z-index: 0;
  /* Assurez-vous que le fond noir a un z-index inférieur à celui du carousel */
}

body.black-bg #overlay {
  opacity: 1;
}

.title-slide {
  min-width: 1120px;
  width: 1120px;
  min-height: 600px;
  height: 600px;
  margin: 4rem 7rem 2rem 7rem;
}

.title_games {
  text-align: center;
}

.title {
  font-size: 4rem;
  color: white;
}

.first_title {
  text-align: center;
  padding: 0.5rem 0;
}

.main-title {
  color: white;
  font-size: 4rem;
}

.main-title-h2 {
  color: white;
  font-size: 2rem;
}

.div-vide {
  margin-left: 10vh;
}