@font-face {
    font-family: "batman forever pleine";
    src: url(../fonts/batmfa.woff);
}

h1 {
    font-family: "batman forever pleine";
    color: #ffffff;
    font-size: 9vh;
    text-align: center;
    margin-bottom: 20vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}

body {
    background: url(../img/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.mouse {
    position: absolute;
    bottom: 55vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: blink 2.5s infinite;
}

.lucide-mouse {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.all {
    margin-top: 10vh;
    height: 200vh;
}

.moon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 165vh;
    width: 210vh;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moon img {
    transition: transform 0.5s;
}

.black-overlay {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 2; */
}