body {
  /* background-color: #000; */
  background-image: url(../img/background.jpeg);
  background-size: contain;
  background-repeat: repeat;
}

section {
  height: 100vh;
}

section .zoom {
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 900px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

section .zoom .image {
  grid-area: 1 / 1 / 2 / 2;
}

section .zoom .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.games {
  min-width: 1120px;
  width: 1120px;
  min-height: 600px;
  height: 600px;
  margin: 4rem 7rem 2rem 7rem;
}