@font-face {
  font-family: "batman forever pleine";
  src: url("../fts/batmfa.woff");
}

.font-batman {
  font-family: "batman forever pleine";
}

body {
  background-color: #000;
  background-image: url(../img/background.jpeg);
  background-size: contain;
  background-repeat: repeat;
  overflow-x: hidden;
}

#header-zoom {
  justify-content: center;
  display: flex;
}


.games {
  min-width: 1120px;
  width: 1120px;
  min-height: 600px;
  height: 600px;
  margin: 4rem 7rem 2rem 7rem;
}

.title-slide {
  min-width: 1120px;
  width: 1120px;
  min-height: 600px;
  height: 600px;
  margin: 4rem 7rem 2rem 7rem;
}

.title_games {
  text-align: center;
}

.title {
  font-size: 4rem;
  color: white;
}

.first_title {
  text-align: center;
  padding: 2rem 0;
}

.main-title {
  color: white;
  font-size: 5rem;
}

body.black-bg {
  background-color: black;
  transition: background-color 0.5s ease;
}